//-Top-bar
.topbar
    .container
        .topbar__inner
            .topbar__left
                .topbar__left--opentime
                    i.fas.fa-clock
                    span.time Open time: 8:00 - 18:00
                    span.date Monday - Sun
                .topbar__left--social
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
                    a(href='#')
                        i.fab.fa-instagram
                    a(href='#')
                        i.fab.fa-vimeo
            .topbar__right
                .topbar__right--signin
                    i.fas.fa-user
                    a(href='#' class="icons-login") Đăng nhập
                .topbar__right--signup
                    i.fas.fa-user-plus
                    a(href='#' class="icons-register") Đăng kí

