extends ../layouts/default-layout.pug
block title
    +title('Green Shop | Popup Page')
block content
    include ../partials/slider.pug
    include ./pageHome/feature.pug
    include ./pageHome/pagesale.pug
    include ../partials/banner.pug
    include ./pageHome/product-new.pug
    include ./pageHome/blog.pug
    include ./popup/pagepopup.pug