.pagination {
    text-align: right;
    @include res("md"){
        text-align: center;
    }
    li {
        display: inline-block;
        a {
            display: inline-block;
            padding: 12px 17px 13px 18px;
            margin: 0 0 10px 10px;

            font-size: 14px;
            color: #898989;
            border: 1px solid #e1e1e1;
            background-color: $cl_white;
            &.active {
                color: $cl_white;
                background-color: $cl_m;
            }
            &:hover {
                color: $cl_white;
                background-color: $cl_m;
            }
        }
    }
}